@import 'tailwindcss';
@custom-variant light (&:where(:not(.dark), :not(.dark) *));
@custom-variant dark (&:where(.dark, .dark *));


/* @theme {
  --color-neutral-900: #1b1b1b;
} */
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

*{
    @apply transition-colors duration-500
}

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

/* Estilos del menu */
.menu-option{
    @apply p-2 rounded-lg mb-2 flex flex-row items-center justify-start w-full text-[#0F172A] hover:bg-[#fef5eb] hover:text-[#FF7E13] transition-all dark:text-neutral-300 dark:hover:bg-neutral-700;
}

.menu-option-selected{
    @apply p-2 rounded-lg mb-2 flex flex-row items-center justify-start w-full bg-[#fef5eb] text-[#FF7E13] dark:bg-neutral-700;
}

.menu-text{
    @apply ml-4;
}

.menu-option:hover .menu-text{
    @apply ml-4 hover:text-[#FF7E13];

}
/* Notifications */
.notification {
    @apply fixed top-24 right-5 p-4 rounded-lg text-[16px] shadow-lg opacity-0 transform translate-x-full transition-all duration-500;
}

.notification.success {
    @apply bg-green-100 text-green-600;
}

.notification.error {
    @apply bg-red-100 text-red-600;
}


.notification.show {
    @apply flex items-center opacity-100 transform translate-x-0;
}


.dragStartleft > :not(.information-drop){
    @apply opacity-50
}
.dragStartleft{
    @apply bg-green-50 dark:bg-green-200 border-4 border-dashed border-green-600 
}
.dragStartRight > :not(.information-drop){
    @apply opacity-50
}
.dragStartRight{
    @apply bg-red-50 dark:bg-red-200 border-4 border-dashed border-red-600
}

/* Rich editor */
#rich-editor-container{
    @apply h-96 text-[16px]
}

.rich-editor-container * {
    all : revert;
    margin: 2px;
}
.ql-align-center{
    @apply text-center;
}
.ql-align-right{
    @apply text-right;
}
.ql-align-justify{
    @apply text-justify;
}
.ql-font-serif{
    @apply font-serif;
}
.ql-font-monospace{
    @apply font-mono;
}
.dark .ql-toolbar.ql-snow span {
    @apply text-white
}
.dark .ql-toolbar.ql-snow .ql-stroke {
  @apply stroke-white
}

.dark .ql-toolbar.ql-snow .ql-fill {
  @apply fill-white
}

.dark .ql-toolbar.ql-snow .ql-thin {
  @apply stroke-white
}
.dark .ql-editor {
    @apply text-white
}
.dark .ql-editor::before {
    @apply text-white
}



/* Tabla */
.tableContainer {
    @apply border border-[#AFAFAF] rounded-lg mt-10 overflow-x-auto border-b
}

.tableContainer tbody tr:last-child {
    @apply border-b-0
}

/* 
.simple-container{
    @apply border border-[#AFAFAF] bg-white rounded-[15px] p-5;
}

.principal-text-color{
    @apply text-[#012F4A];
}

.list-option{
    @apply p-2 rounded-lg mb-2 text-[#012F4A] flex flex-row items-center justify-between w-full cursor-pointer hover:bg-[#fef5eb] hover:text-[#FF7E13];
}

.card-title{
    @apply text-[20px];
}

.title{
    @apply text-3xl font-bold text-[#011020];
}
 */
/* Buttons */
/* .btn-primary{
    @apply bg-[#FF7E13] text-white rounded-lg p-2 font-semibold flex items-center justify-center cursor-pointer gap-2 hover:bg-[#FE712B] transition-all;
}
.btn-important{
    @apply bg-red-600 text-white rounded-lg p-2 font-semibold flex items-center justify-center cursor-pointer gap-2;
}

.btn-secondary{
    @apply bg-white text-[#011020] rounded-lg p-2 font-semibold flex items-center justify-center cursor-pointer gap-2 border-1 border-[#AFAFAF];
}

.is-active-button{
    @apply border-1 p-1 text-center bg-green-200 text-green-600 border-green-600 rounded-lg ;
}

.is-inactive-button{
    @apply border-1 p-1 text-center bg-red-200 text-red-600 border-red-600 rounded-lg ;
}

.is-commission-button{
    @apply border-1 bg-[#FF7033]/17 text-[#FF7033] border-[#FF7033] rounded-lg p-1 text-center;
}


.deactivate-button{
    @apply  text-white bg-red-600 rounded-lg p-2 font-semibold cursor-pointer hover:bg-red-800 hover:transition-all;
}
.activate-button{
    @apply  text-white bg-green-600 rounded-lg p-2 font-semibold cursor-pointer hover:bg-green-700 hover:transition-all;
}

.input-field{
    @apply border-1 shadow-sm p-2 rounded-lg border-[#AFAFAF];
} 
*/


@media(min-width: 768px) {
    
}